<% include ../partials/header %>

<h1>  New spot </h1>


<form action = "/spots" method = "POST">
	<input type = "text" name = "spot[name]" 		placeholder = "spot name" 	>
	<input type = "text" name = "spot[country]" 	placeholder = "country"		> 
	<input type = "text" name = "spot[image]" 		placeholder = "inmage url"	>
	<input type = "text" name = "spot[description]" placeholder = "description"	>
	<button> Submit </button>
</form>
<a href = "/spots">Go Back</a>

<% include ../partials/footer %>